appdirs==1.4.4
astroid==2.9.3
click==8.0.4
isort==5.10.1
jedi==0.18.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
parso==0.8.3
pip==22.0.3
platformdirs==2.5.1
prompt-toolkit==3.0.28
ptpython==3.0.20
Pygments==2.11.2
pylint==2.12.2
setuptools==49.2.1
toml==0.10.2
typing_extensions==4.1.1
wcwidth==0.2.5
wrapt==1.13.3
